
.console_look {
  white-space:          pre-wrap;
	font-family:          Consolas, monaco, monospace;
	font-size:            14px;
	font-style:           normal;
	font-variant:         normal;
	font-weight:          normal;
}

#outbar1 {
  width:          640px;
  height:         480px;
  overflow:       scroll;
  border:         1px solid #000000;
  background:     #000000;
  color:          #FFA000;
}